@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    position: relative;
    top: 3vh;
    border-bottom: 0.4vh solid #1351d8;
    padding-bottom: 2.5vh;
    margin-bottom: 5vh;
}

.header-conteudo{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    position: absolute;
    padding: 2vh;
    left: 0;
}

.header-logo img {
    height: 50px;
  }

nav{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5vh;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 2vh;
}

nav a {
    color: #1351d8 ;
    text-decoration: none;
    padding: 1vh;
    border-radius: 1vh;
}

nav a:hover{
    background-color: #1351d8;
    color: #f0f0f0;
}

main {
    flex: 1;
}

.main-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}

.main-video{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin-top: 6vh;
}

.main-video h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3vh;
    color: #1351d8;
}

.main-video p{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2vh;
    color: #1351d8;
}

.main-video iframe{
    width: 100%;
    height: 50vh;
    border-radius: 3vh;
}

.tabela-cards {
    width: 100%;
    margin-top: 5vh;
}

.tabela-cards th {
    padding: 2vh;
    font-family: "Poppins", sans-serif;
    font-size: 1.6vh;
}

.img-tabela {
    width: 40vh;
    height: auto;
    margin-bottom: 1vh;
}

.descricao {
    display: flex;
    gap: 1vh;
}

.descricao strong{
    font-weight: 700;
    color: #1351d8;
}

.descricao input[type="checkbox"] {
    transform: scale(2);
    cursor: pointer;
}

.botao-comparar {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.botao-comparar button {
    background-color: #1351d8;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 2vh;
    font-weight: 600;
    padding: 1.5vh 3vh;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
}

.footer-contedudo{
    background-color: #1b357e;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #f0f0f0;
    font-size: 2.5vh;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh;
}

.footer-redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}