@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


main {
    flex: 1;
}

.main-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
    gap: 5rem;
}

.main-video{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 6vh;
}

.main-video h1{
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: #1351d8;
}

.main-video p{
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #000;
}

.main-video iframe{
    width: 90%;
    height: 70vh;
    border: none;
    border-radius: 1rem;
    box-shadow: 6px 8px 8px rgb(58, 67, 70);
}

.main-carros {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-top: 5vh;
    gap: 3rem;
}

.main-carros-conteudo{
    font-size: 1rem;
    font-weight: 500;
}

.main-carros-informacoes{
    display: flex;
    align-items: center;
    gap: 1vh;
}

.main-carros-imagens {
    width: 100%;
    width: 40vh;
    height: auto;
}

.texto-destaque{
    font-weight: 700;
    color: #1351d8;
}

.main-checkbox input[type="checkbox"]{
    transform: scale(2);
    cursor: pointer;
}

.botao-comparar {
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.botao-comparar button {
    background-color: #1351d8;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 2vh;
    font-weight: 600;
    padding: 1.5vh 3vh;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    transition: all 0.3s ease;
}

.botao-comparar button:hover{
    background-color: #1b357e;
}

@media (max-width: 768px) {

    .main-video{
        text-align: center;
    }

    .main-video iframe{
        width: 100%;
        height: 35vh;
    }

    .main-carros{
        flex-direction: column;
    }

    .main-carros-informacoes{
        align-items:center;
        gap: 1rem;
    }
}
